[Unit]
Description=Hypernets Sync Config Server and Send Data
After=network-online.target
Wants=network-online.target

[Service]
User=
ExecStart=
WorkingDirectory=

[Install]
WantedBy=multi-user.target
