[Unit]
Description=Hypernets Sequence Service
Wants=network-online.target
After=network-online.target
SuccessAction=poweroff

[Service]
User=
ExecStart=
WorkingDirectory=

[Install]
WantedBy=multi-user.target
