[Unit]
Description=Hypernets Webcams Manager
After=network-online.target
Wants=network-online.target

[Service]
User=
ExecStart=
WorkingDirectory=

[Install]
WantedBy=multi-user.target
