[Unit]
Description=Hypernets Time Resolving
After=yvirtualhub.service
Requires=yvirtualhub.service

[Service]
ExecStart=[TOEDIT]/.../resolve_time_yocto.sh

[Install]
WantedBy=multi-user.target
